GnomeFuzzySearchPrefsBox { border: none; padding: 0.5em; }
GnomeFuzzySearchPrefsBox GtkButton { padding: 0.3em 2.41em; }

.gnome-fuzzy-search-prefs-page { padding: 2em; }
.gnome-fuzzy-search-prefs-page-about-title { padding-bottom: 2em; font-weight: bold; }
.gnome-fuzzy-search-prefs-page-about-description { padding: 2em; }
.gnome-fuzzy-search-prefs-page-about-license { font-size: 0.8em; padding-top: 2em; }
